* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.logout-btn {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    border: none;
    font-size: 1.15rem;
    cursor: pointer;
}

.App-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-link {
    text-decoration: none;
    padding: 1rem;
    background-color: #288647;
    border-radius: 2rem;
}