.search-box {
    width: 35%;
    border: none;
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 0.5rem;
    padding-left: 2rem;
    color: #000000;
}

.search-container {
    position: relative;
    margin-top: 2.5rem;
    width: 75%;
    margin-left: 1.5rem;
}

.search-type-input {
    color: #888888;
    position: absolute;
    background-color: #ffffff;
    top: 25%;
    margin-left: 0.5rem;
}

.search-box:focus {
    outline: none;

}

.separator {
    height: 5rem;
}

.mini-separator {
    height: 2rem;
}

.episode-list-item {
    height: 10rem;
}

.search-categories-container {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
}

.search-category {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 0.5rem;
}